*,html{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: none;
}
body{
    background: #171821;
    color: white;
    font-family: Helvetica, sans-serif;
}

/* Navbar */ 
.menu{
    
    justify-content: flex-end;

}
.navbar__logo{
    width: 20%;
}
.navbar_medidas{
    padding: 0;
}
.active{
    border-bottom: 3px solid #f3c52c;
    
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 20px;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: white;
    
    
}
.navbar_medidas{
    background: #171821;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    margin:10px;
}
.navbar-dark .navbar-nav .nav-link {
    margin:10px;
}

/* Nosotros */
#nosotros{
    padding:30px
}
.nosotros__texto{
    text-align: center;
    color: #EE6950;
    font-weight: 900;
    font-size: 60px;
}

/* Servicios */
#servicios{
    
}
.vertical1{
    width: 300px;
    margin: 10px 0px;
}

.servicios1{

    display: flex;
    justify-content: center;
    
}
.button__servicios{
    border: 3px solid #f3c52c;;
    color: #f3c52c;;
    font-size:18px;
    padding: 20px 30px;
}

/* Productos */
.fotos__productos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.foto_producto{
    margin: 30px;
    width: 300px;
    height: 200px;
}
.foto__nombre{
    text-align: center;
    color: #f3c52c;
}
.btn_product{
    margin:10px 0px;
    display: flex;
    justify-content: center;
}
.button__productos{
    border: 3px solid #f3c52c;;
    color: #f3c52c;;
    font-size:18px;
    padding: 20px 30px;
   
}


@media (max-width: 1024px) {
    .navbar__logo{
        width: 30%;
    }

    /* Servicios */
    .nosotros__texto{
        text-align: center;
        color: #EE6950;
        font-weight: 900;
        font-size: 70px;
    }
    .vertical1{
        width: 300px;
        margin-left: 20px;
    }
    /* Productos */
    .foto_producto{
        margin: 5px;
        width: 300px;
        height: 300px;
    }
    .foto__nombre{
        font-size: 30px;
    }
  }
  @media (max-width: 992px) {
    .navbar__logo{
        width: 30%;
    }

    /* Servicios */
    .nosotros__texto{
        text-align: center;
        color: #EE6950;
        font-weight: 900;
        font-size: 50px;
    }
    .vertical1{
        width: 280px;
        margin-left: 20px;
    }
    /* Productos */
    .foto_producto{
        margin: 5px;
        width: 300px;
        height: 300px;
    }
    .foto__nombre{
        font-size: 30px;
    }
  }
  @media (max-width: 768px) {
    .navbar__logo{
        width: 30%;
    }

    /* Servicios */
    .nosotros__texto{
        text-align: center;
        color: #EE6950;
        font-weight: 900;
        font-size: 50px;
    }
    .vertical1{
        width: 280px;
        margin-left: 20px;
    }
    /* Productos */
    .foto_producto{
        margin: 5px;
        width: 300px;
        height: 300px;
    }
    .foto__nombre{
        font-size: 30px;
    }
  }

@media (max-width: 512px) {
    .navbar__logo{
        width: 40%;
    }

    /* Servicios */
    .nosotros__texto{
        text-align: center;
        color: #EE6950;
        font-weight: 900;
        font-size: 50px;
    }
    .vertical1{
        width: 230px;
        margin-left: 20px;
    }
    /* Productos */
    .foto_producto{
        margin: 5px;
        width: 200px;
        height: 200px;
    }
    .foto__nombre{
        font-size: 20px;
    }
  }

  @media (max-width: 480px) {
    .navbar__logo{
        width: 40%;
    }

    /* Servicios */
    .nosotros__texto{
        text-align: center;
        color: #EE6950;
        font-weight: 900;
        font-size: 40px;
    }
    .vertical1{
        width: 200px;
        margin-left: 20px;
    }
    /* Productos */
    .foto_producto{
        margin: 5px;
        width: 180px;
        height: 180px;
    }
    .foto__nombre{
        font-size: 20px;
    }
  }

  @media (max-width: 360px) {
   
    .navbar__logo{
        width: 40%;
    }

    /* Servicios */
    .nosotros__texto{
        text-align: center;
        color: #EE6950;
        font-weight: 900;
        font-size: 40px;
    }
    .vertical1{
        width: 150px;
        margin-left: 40px;
    }
    /* Productos */
    .foto_producto{
        margin: 5px;
        width: 120px;
        height: 120px;
    }
    .foto__nombre{
        font-size: 20px;
    }

  }
  @media (max-width: 320px) {
   
    .navbar__logo{
        width: 40%;
    }

    /* Servicios */
    .nosotros__texto{
        text-align: center;
        color: #EE6950;
        font-weight: 900;
        font-size: 40px;
    }
    .vertical1{
        width: 150px;
        margin-left: 40px;
    }
    /* Productos */
    .foto_producto{
        margin: 5px;
        width: 120px;
        height: 120px;
    }
    .foto__nombre{
        font-size: 20px;
    }

  }